# **Calculando a média separadamente**

>Cláudia ama ciname e gosta de acompanhar os filmes, verificando como estão sendo avaliados e se a crítica é positiva ou não. Agora, ela quer analisar os filmes separadamente e, para isso, gostaria de calcular a média das notas de cada um dos filmes que ela extraiu do IMDB (InternetMovie Database) por meio de um arquivo .csv, gerando a tabela abaixo:

In [7]:
import pandas as pd

avaliacoes_filmes = {'id_usuario': [1, 2, 3, 4, 5],
                     'id_filme': [1, 2, 1, 1, 2],
                     'nota_da_critica': [7.0, 9.0, 7.0, 7.0, 9.0],
                     'nota_usuario': [8.0, 7.0, 5.0, 6.0, 10.0]}


df_avaliacoes_filmes = pd.DataFrame(avaliacoes_filmes)
df_avaliacoes_filmes

   id_usuario  id_filme  nota_da_critica  nota_usuario
0           1         1              7.0           8.0
1           2         2              9.0           7.0
2           3         1              7.0           5.0
3           4         1              7.0           6.0
4           5         2              9.0          10.0

- Podemos observar que os filmes são identificados pelo id_filme e pode possuir mais de uma avaliação. Cláudia gostaria de exibir apenas as médias das notas que vieram dos usuários.

> De acordo com o que aprendemos até o momento, realize o cálculo da média que Cláudia deseja.

In [31]:
df_avaliacoes_filmes.groupby("id_filme")["nota_usuario"].mean()

id_filme
1    6.333333
2    8.500000
Name: nota_usuario, dtype: float64