# Quais são os tipos de variáveis ?

>Tiago importou uma base de dados com dados de alguns jogos de diferentes consoles e quer começar a explorá-la para praticar o que vem aprendendo neste curso de Data Science. A base que ele importou traz 5 colunas com dados sobre o nome dos jogos, o gênero que eles pertencem, as vendas globais do jogo, a nota da crítica e a quantidade de avaliações da crítica. Podemos observar os 5 primeiros registros na tabela abaixo:

In [1]:
import pandas as pd
dadosJogos = {'Nome': ['Wii Sports', 'Mario Kart Wii', 'Wii Sports Resort', 'New Super Mario Bros', 'Wii Play'],
              'Genero': ['Sports', 'Racing', 'Sports', 'Platform', 'Misc'],
              'Vendas_Globais': [82.53, 35.52, 32.77, 29.80, 28.92],
              'Nota_da_Critica': ['C', 'B', 'B', 'B', 'F'],
              'Qtd_Aval_Critica': [51, 73, 73, 65, 41]}
dadosJogos = pd.DataFrame(dadosJogos)
dadosJogos

,Nome,Genero,Vendas_Globais,Nota_da_Critica,Qtd_Aval_Critica
0,Wii Sports,Sports,82.53,C,51
1,Mario Kart Wii,Racing,35.52,B,73
2,Wii Sports Resort,Sports,32.77,B,73
3,New Super Mario Bros,Platform,29.80,B,65
4,Wii Play,Misc,28.92,F,41

> De acordo com o que aprendemos até o momento, qual das alternativas abaixo traz os tipos corretos das variáveis da tabela da esquerda para direita?

### Resposta:

- **Nome:** Variável qualitativa nominal
- **Genero:** Variável qualitativa nominal
- **Vendas_Globais:** Variável quantitativa continua
- **Nota_da_Critica:** Variável qualitativa ordinal
- **Qtd_Aval_Critica:** Variavel quantitativa discreta