# Valores únicos

>Uma rede nacional de escolas de línguas precisa identificar, dentro da sua base de docentes, quantas línguas diferentes são lecionadas em suas unidades. A empresa contratou a analista de dados Cláudia para fazer esse trabalho e passou para ela a base nacional completa com todos os docentes e as línguas que eles lecionam em formato .csv. Logo abaixo, podemos observar as primeiras linhas da baseDocentes:

In [1]:
import pandas as pd

baseDocentes = {'ID': [1, 1, 1, 2, 2, 2],
                'nome_docente': ['Guilherme', 'Guilherme', 'Guilherme', 'Valquíria', 'Valquíria', 'Valquíria'],
                'lingua_leciona': ['Português', 'Japonês', 'Coreano', 'Português', 'Inglês', 'Alemão'],
                'anos_leciona': [15, 10, 5, 8, 8, 2],
                'Sede': ['São Paulo', 'São Paulo', 'São Paulo', 'São Caetano', 'São Caetano', 'São Caetano']}

baseDocentes = pd.DataFrame(baseDocentes)
baseDocentes

   ID nome_docente lingua_leciona  anos_leciona         Sede
0   1    Guilherme      Português            15    São Paulo
1   1    Guilherme        Japonês            10    São Paulo
2   1    Guilherme        Coreano             5    São Paulo
3   2    Valquíria      Português             8  São Caetano
4   2    Valquíria         Inglês             8  São Caetano
5   2    Valquíria         Alemão             2  São Caetano

- Com o primeiro tratamento, Cláudia quer saber todas as línguas lecionadas nas escolas apenas na sede da cidade de São Paulo. Desse modo, qual código Cláudia deve utilizar para verificar os valores únicos das línguas para a condição desejada?

In [8]:
linguas_lecionadas_saopaulo = baseDocentes.query("Sede == 'São Paulo'")['lingua_leciona'].unique()

print(f'As línguas que são lecionadas na sede de são paulo são:\n\n{linguas_lecionadas_saopaulo} ')

As línguas que são lecionadas na sede de são paulo são:

['Português' 'Japonês' 'Coreano']